.toolbar{
    --background: var(--azul-claro);
}

.logo {
height: 6vh;
margin-left:-14vw;
margin-right:auto;
display: flex;
justify-content: center;
align-items: center;
}

.titulo {
    color: var(--amarelo);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 10%;
    text-align: center;
}

ion-content .photo {
    width: 50vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.form {
    font-family: 'Montserrat', sans-serif;
    margin: 12vh 5vw 0;
}

.media {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.form ion-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 0;
}

ion-button {
    margin: 1vh 5vw 2vh;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
