<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="logo" src="../assets/logo-completa-hommy---escuro.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="titulo"> Favoritas </h4>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-card>
              <img src="../assets/home3.jpg"/>
              <ion-card-header>
                <ion-card-title class="title">República da Ana</ion-card-title>
                <ion-card-subtitle class="subtitle">Tijuca, RJ</ion-card-subtitle>
                <ion-card-title class="price">R$300,00</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card>
              <img src="../assets/home2.jpg"/>
              <ion-card-header>
                <ion-card-title class="title">Casa da Mãe Joana</ion-card-title>
                <ion-card-subtitle class="subtitle">Cocotá, RJ</ion-card-subtitle>
                <ion-card-title class="price">R$300,00</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-card>
              <img src="../assets/home4.jpg"/>
              <ion-card-header>
                <ion-card-title class="title">Casa dos Estudantes</ion-card-title>
                <ion-card-subtitle class="subtitle">Galeão, RJ</ion-card-subtitle>
                <ion-card-title class="price">R$300,00</ion-card-title>
              </ion-card-header>

            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card>
              <img src="../assets/home5.jpg"/>
              <ion-card-header class="card">
                <ion-card-title class="title">República do Wagner</ion-card-title>
                <ion-card-subtitle class="subtitle">Ipanema, RJ</ion-card-subtitle>
                <ion-card-title class="price">R$300,00</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
