<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="logo" src="../assets/logo-completa-hommy---escuro.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="titulo"> Favoritas </h4>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let favorita of favoritas">
            <app-mini-card (buttonPressed)='handleEvent($event)' [favorita]="favorita"></app-mini-card>
        </ion-col> 
      </ion-row>
    </ion-grid>
</ion-content>
