<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="logo" src="../assets/logo-completa-hommy---escuro.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h4 class="titulo"> Olá, Nayara! </h4>
  <h5 class="subtitulo"> Melhores Preços </h5>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <img src="../assets/home.jpg"/>
        <ion-card-header>
          <ion-card-title class="title">Republica Universitária</ion-card-title>
          <ion-card-subtitle class="subtitle">Portuguesa, RJ</ion-card-subtitle>
          <ion-card-title class="price">R$300,00</ion-card-title>
        </ion-card-header>
        <ion-card-content class="text">
          Quartos individuais, com água, luz e internet inclusa. Não aceitamos animais. Pagamento do primeiro mês adiantado. Agende já sua visita!
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../assets/home7.jpg"/>
        <ion-card-header>
          <ion-card-title class="title">Casa da Mãe Joana</ion-card-title>
          <ion-card-subtitle class="subtitle">Portuguesa, RJ</ion-card-subtitle>
          <ion-card-title class="price">R$300,00</ion-card-title>
        </ion-card-header>
        <ion-card-content class="text">
          Quartos individuais, com água, luz e internet inclusa. Não aceitamos animais. Pagamento do primeiro mês adiantado. Agende já sua visita!
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="../assets/home6.jpg"/>
      <ion-card-header>
        <ion-card-title class="title">República das Flores</ion-card-title>
        <ion-card-subtitle class="subtitle">Grajaú, RJ</ion-card-subtitle>
        <ion-card-title class="price">R$300,00</ion-card-title>
      </ion-card-header>
      <ion-card-content class="text">
        Quartos individuais, com água, luz e internet inclusa. Não aceitamos animais. Pagamento do primeiro mês adiantado. Agende já sua visita!
      </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../assets/home5.jpg"/>
        <ion-card-header>
          <ion-card-title class="title">Casa Cruz</ion-card-title>
          <ion-card-subtitle class="subtitle">Centro, RJ</ion-card-subtitle>
          <ion-card-title class="price">R$300,00</ion-card-title>
        </ion-card-header>
        <ion-card-content class="text">
          Quartos individuais, com água, luz e internet inclusa. Não aceitamos animais. Pagamento do primeiro mês adiantado. Agende já sua visita!
        </ion-card-content>
        </ion-card>
    </ion-slide>

  </ion-slides>
  
  <h5 class="subtitulo"> Próximas de você </h5>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <img src="../assets/home3.jpg"/>
            <ion-card-header>
              <ion-card-title class="title">República da Ana</ion-card-title>
              <ion-card-subtitle class="subtitle">Tijuca, RJ</ion-card-subtitle>
              <ion-card-title class="price">R$300,00</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="../assets/home2.jpg"/>
            <ion-card-header>
              <ion-card-title class="title">Casa da Mãe Diná</ion-card-title>
              <ion-card-subtitle class="subtitle">Cocotá, RJ</ion-card-subtitle>
              <ion-card-title class="price">R$300,00</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <img src="../assets/home4.jpg"/>
            <ion-card-header>
              <ion-card-title class="title">Casa dos Estudantes</ion-card-title>
              <ion-card-subtitle class="subtitle">Galeão, RJ</ion-card-subtitle>
              <ion-card-title class="price">R$300,00</ion-card-title>
            </ion-card-header>

          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="../assets/home5.jpg"/>
            <ion-card-header>
              <ion-card-title class="title">República do Wagner</ion-card-title>
              <ion-card-subtitle class="subtitle">Ipanema, RJ</ion-card-subtitle>
              <ion-card-title class="price">R$300,00</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <img src="../assets/home7.jpg"/>
            <ion-card-header>
              <ion-card-title class="title">República dos Irmãos</ion-card-title>
              <ion-card-subtitle class="subtitle">Méier, RJ</ion-card-subtitle>
              <ion-card-title class="price">R$300,00</ion-card-title>
            </ion-card-header>

          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="../assets/home6.jpg"/>
            <ion-card-header>
              <ion-card-title class="title">Casa dos Gomes</ion-card-title>
              <ion-card-subtitle class="subtitle">Saquarema, RJ</ion-card-subtitle>
              <ion-card-title class="price">R$300,00</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <section>
    <header></header>
    <ion-button class="button" expand="block">Anunciar República</ion-button>
  </section>

  <h5 class="subtitulo"> Por Categorias </h5>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="title">Quarto Individual</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="title">Quarto Compartilhado</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="title">Suíte Individual</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="title">Suíte Compartilhada</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>